<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @figure.figure_code %>
</p>

<p>
  <b>Series:</b>
  <%= @figure.series_code %>
</p>

<p>
  <b>Index:</b>
  <%= @figure.index %>
</p>

<p>
  <b>Name:</b>
  <%= @figure.name %>
</p>

<p>
  <b>Url:</b>
  <%= link_to @figure.url, @figure.url, :target => "_blank" %>
</p>

<p>
  <b>Slogan:</b>
  <%= @figure.slogan %>
</p>

<p>
  <b>Description:</b>
  <%= @figure.description %>
</p>

<p>
  <b>Strength:</b>
  <%= @figure.strength %>
</p>

<p>
  <b>Creativity:</b>
  <%= @figure.creativity %>
</p>

<p>
  <b>Speed:</b>
  <%= @figure.speed %>
</p>


<%= link_to 'Edit', edit_figure_path(@figure) %> |
<%= link_to 'Back', figures_path %>
