<p id="notice"><%= notice %></p>

<p>
  <b>Index:</b>
  <%= @series.index %>
</p>

<p>
  <b>Color:</b>
  <%= @series.color %>
</p>

<p>
  <b>Url:</b>
  <%= @series.url %>
</p>


<%= link_to 'Edit', edit_series_path(@series) %> |
<%= link_to 'Back', series_index_path %>
